@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Suggestions";
    ViewData["Tab"] = "Restraunt Suggestion";
}
@model IEnumerable<Assignment42.Models.NewSuggestion>

<div>
    <h1>@ViewData["Title"]</h1>

    <p>View your suggestions here.</p>

    <table border="1" cellspacing="50">
        <thead border="1 ellspacing="50">
            <tr>Name&emsp;</tr>
            <tr>Restraunt Name&emsp;</tr>
            <tr>Favorite Dish&emsp;</tr>
            <tr>Phone&emsp;</tr>

        </thead>
        <tbody>
            @foreach (Assignment42.Models.NewSuggestion x in Model)
            {               
                <tr>
                    <td>@x.Name&emsp;</td>
                    <td>@x.Restraunt_Name&emsp;</td>
                    <td>@x.Favorite_Dish&emsp;</td>
                    <td>@x.Phone&emsp;</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<br />